<!doctype html>
<html>
  <head>
    <title>Caius Meal Calendar</title>
    <link rel="stylsheet" type="text/css" href="{{ asset('css') }}"
  </head>
  <body>
    <noscript>This page requires JavaScript to work.</noscript>
    <form id="raven-login-form" data-action="/api/generate-calendar">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </form>

    <script type="text/javascript" src="{{ asset('js') }}"></script>
  </body>
</html>
